.col-6, .col-3, .col-12 {
  /* outline: 2px solid black; */
}

.circle {
  background-color: cornsilk;
  width: 50px; height: 50px;
  border-radius: 100px 100px;
}

.box {

}

.triangle {
/* background-color: cornsilk; */
height: 0px; width: 0px;
border-right: 90px solid transparent;
border-left: 90px solid transparent;
border-bottom: 150px solid black;
}

.mainChoose {
 max-height: 200px;
 margin-left: -20px;
 margin-right: -20px;
 z-index: 1;
}
.leftChoose {
 max-height: 150px;
}
.rightChoose {
 max-height: 150px;
 z-index: 0;
  
}

.flex-container {
  display: flex;
  justify-content: center;
  margin-top: 200px;
}
/* PHONESvvvvv */
@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
  }
}
