body {
    /* background-image: url("./images/Borealis.jpg"); */
    /* background-repeat: no-repeat;
    background-size: auto;
    max-width: 100%;
    background-attachment: scroll; */
    background-color: rgb(37, 125, 197);
}

